html {
    background-color: #f5f5f5;
    overflow-x: hidden;
}

/* 
 #############################
 New set of CSS 
 #############################
 
 */

* {
    font-family: "Work Sans";
}

input[type="text"]::placeholder {
    /* Firefox, Chrome, Opera */
    padding-left: 12px;
}

input[type="password"]::placeholder {
    /* Firefox, Chrome, Opera */
    padding-left: 12px;
}

/* Sign in */

#form-container {
    position: absolute;
    width: 374px;
    height: 403px;
    left: 223px;
    top: 356px;

    /* Bg */

    background: #446474;
    border-radius: 12px;
}

#header-login {
    position: absolute;
    width: 242px;
    height: 40px;
    left: 66px;
    top: 67px;

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #f5f5f5;
}

#input-username-login {
    box-sizing: border-box;
    position: absolute;
    width: 242px;
    height: 53px;
    left: 66px;
    top: 125px;

    background: #f5f5f5;
    border: 1px;
    border-radius: 12px;
}

#input-password-login {
    position: absolute;
    width: 242px;
    height: 53px;
    left: 66px;
    top: 202px;

    background: #f5f5f5;
    border: 1px;
    border-radius: 12px;
}

#submit-login {
    position: absolute;
    width: 242px;
    height: 53px;
    left: 66px;
    top: 279px;

    /* Accent 3 */

    background: #e75b5b;
    border: 1px;
    border-radius: 14px;

    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    /* display: flex; */
    align-items: center;
    text-align: center;

    color: #f5f5f5;
}

/* Case Index Page */

#info-sympHeader {
    position: absolute;
    width: 772px;
    height: 36px;
    left: 24px;
    top: 72px;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;
}

#cases-index-container {
    /* padding-top: 60px; */
}

#info-caseHis {
    position: absolute;
    width: 688px;
    height: 70px;
    left: 66px;
    padding-top: 24px;

    background: #ffffff;
    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 12px;
}

#info-header {
    /* info-header */
    position: absolute;
    width: 638.09px;
    height: 21.33px;
    top: 12px;
    left: 24px;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;

    /* Accent 3 */

    color: #e75b5b;
}

#info-date {
    position: absolute;
    width: 637.2px;
    height: 20px;
    left: 24px;
    top: 38px;

    /* Body */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.25px;
    line-height: 19.06px;
    letter-spacing: -0.02em;

    color: #000000;
}

/* Current Case */

#patient-profile {
    position: absolute;
    width: 688px;
    height: 217px;
    left: 66px;
    top: 132px;

    /* Sub BG */

    background: #708a99;
    border-radius: 12px;
}

#img-patient {
    position: absolute;
    width: 175px;
    height: 175px;
    left: 48px;
    top: 21px;
}

#info-chiefComplain {
    position: absolute;
    width: 417px;
    height: 82px;
    left: 247px;
    top: 31px;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;

    /* base */

    color: #f5f5f5;
}

#info-patientInfo {
    position: absolute;
    width: 417px;
    height: 92px;
    left: 247px;
    top: 113px;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;

    color: #000000;
}

#result-ML {
    position: absolute;
    width: 199px;
    height: 199px;

    /* bg-symp */

    position: absolute;
    width: 199px;
    height: 199px;
    /* top: 433px; */

    /* Accent 3 */

    background: #e75b5b;
    /* btn-dropshadow */

    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 15px;
}

#info-symp {
    position: absolute;
    width: 160.17px;
    height: 130.52px;
    left: 19.41px;
    top: 30.62px;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* base */

    color: #f5f5f5;
}

#med-history-container {
    position: absolute;
    width: 688px;
    height: 327px;
    left: 66px;
    top: 656px;

    /* Sub BG */

    background: #708a99;
    border-radius: 12px;
}

#past-medical-history {
    position: absolute;
    width: 528px;
    height: 36px;
    left: 80px;
    top: 24px;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* Dark Font */

    color: #000000;
}

#history-desc-bg {
    position: absolute;
    width: 640px;
    height: 219px;
    left: 24px;
    top: 72px;
    /* base */

    background: #f5f5f5;
    border-radius: 13px;
}

#info-pastPatientInfo {
    position: absolute;
    width: 572.02px;
    height: 175.49px;
    left: 34.82px;
    top: 19.91px;

    /* Body */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.25px;
    line-height: 19.06px;
    letter-spacing: -0.02em;

    color: #000000;
}

#btn-locate {
    /* btn-locate */
    position: absolute;
    width: 241px;
    height: 51px;
    left: 356px;
    top: 0px;

    /* Accent 2 */
    background: #42b1b3;

    /* btn-dropshadow */
    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 14px;
    border: 1px;

    /* Button Text */

    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    /* base */

    color: #f5f5f5;
}

#btn-diagnose {
    /* btn-locate */
    position: absolute;
    width: 241px;
    height: 51px;
    left: 91px;

    /* Accent 2 */
    background: #42b1b3;

    /* btn-dropshadow */
    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 14px;
    border: 1px;

    /* Button Text */

    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    /* base */

    color: #f5f5f5;
}

#diagnosis-container-case {
    position: absolute;
    width: 688px;
    height: 111px;
    left: 66px;
    padding-top: 24px;
    /* margin-bottom: 24px; */

    background: #ffffff;
    /* btn-dropshadow */

    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 12px;
}

#predicted-header {
    position: absolute;
    width: 531px;
    height: 32px;
    left: 24px;
    top: 20px;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;

    /* Accent 3 */

    color: #e75b5b;
}

#predicted-symptoms {
    position: absolute;
    width: 637px;
    height: 37px;
    left: 24px;
    top: 58px;

    /* Body */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.25px;
    line-height: 19.06px;
    letter-spacing: -0.02em;

    color: #000000;
}

#hf-revision {
    position: absolute;
    width: 96px;
    height: 28px;
    left: 568px;
    top: 24px;

    /* Button Text */

    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    text-align: right;

    color: #000000;
}

#jit-container-case {
    position: absolute;
    width: 640px;
    height: 178px;
    left: 90px;
    /* top: 132px; */

    background: #ffffff;
    /* btn-dropshadow */

    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 12px;
}

#jit-header {
    position: absolute;
    width: 149px;
    height: 32px;
    left: 24px;
    top: 20px;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;

    /* Accent 3 */

    color: #e75b5b;
}

#jit-symptoms {
    position: absolute;
    width: 592px;
    height: 105px;
    left: 24px;
    top: 64px;

    /* Body */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.25px;
    line-height: 19.06px;
    letter-spacing: -0.02em;

    color: #000000;
}

#logo-png {
    width: 108.15px;
    height: 43px;
}

#geolocation-overview {
    position: absolute;
    width: 772px;
    height: 479px;
    left: 24px;
    top: 132px;

    background: #d9d9d9;
    border-radius: 12px;
}

#geolocation-zoomed {
    position: absolute;
    width: 772px;
    height: 479px;
    left: 24px;
    top: 633px;

    background: #d9d9d9;
    border-radius: 12px;
}

#geolocation-floorplan {
    position: absolute;
    width: 772px;
    height: 479px;
    left: 24px;
    top: 1136px;

    background: #d9d9d9;
    border-radius: 12px;
}

#WIP {
    text-align: center;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;

    /* base */

    color: #f5f5f5;
}

#WIP2 {
    text-align: center;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Hamburger Menu */
body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "Work Sans";
    overflow-x: hidden;
    background-color: #f5f5f5;
}

a {
    text-decoration: none !important;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: #e75b5b;
}

#spacer {
    margin-bottom: 75px;
    background-color: #446474;
}

#topbar {
    /* position: absolute; */
    width: 100vw;
    height: 75px;
    left: 0px;
    top: 0px;
    background-color: #446474;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    /* left: 0; */
    background-color: #708a99; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    right: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f5f5f5;
    display: block;
    transition: 0.3s;
    list-style-type: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f5f5f5;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

#openbtn {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 35px;
    height: 35px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#symptoms-container {
    position: absolute;
    width: 688px;
    height: 199px;
    left: 66px;
    top: 433px;

    /* Sub BG */

}

#btn-container {
    position: absolute;
    width: 688px;
    height: 53px;
    left: 66px;
    top: 1005px;

    /* Sub BG */

}

@media screen and (min-width: 1024px) {
    #form-container {
        left: 40%;
        top: 180px;
    }

    #info-caseHis {
        left: 32%;
    }

    #info-sympHeader {
        left: 30%;
    }

    #patient-profile {
        left: 32%;
    }

    #symptoms-container {
        left: 32%;
    }

    #med-history-container {
        left: 32%;
    }

    #btn-container{
        left: 32%
    }

    #diagnosis-container-case{
        left: 32%
    }
    #jit-container-case{
        left: 32%
    }

    #geolocation-overview{
        left:32%
    }
    
    #geolocation-zoomed{
        left: 32%;
    }

    #geolocation-floorplan{
        left: 32%;
    }

}
