html {
    background-color: #f5f5f5;
}

body {
    overflow-x: hidden;
}

/* 
 #############################
 New set of CSS 
 #############################
 
 */

* {
    font-family: "Work Sans";
}

input[type="text"]::placeholder {
    /* Firefox, Chrome, Opera */
    padding-left: 12px;
}

input[type="password"]::placeholder {
    /* Firefox, Chrome, Opera */
    padding-left: 12px;
}

/* Sign in */

#form-container {
    position: absolute;
    width: 374px;
    height: 403px;
    left: 223px;
    top: 356px;

    /* Bg */

    background: #446474;
    border-radius: 12px;
}

#header-login {
    position: absolute;
    width: 242px;
    height: 40px;
    left: 66px;
    top: 67px;

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #f5f5f5;
}

#input-username-login {
    box-sizing: border-box;
    position: absolute;
    width: 242px;
    height: 53px;
    left: 66px;
    top: 125px;

    background: #f5f5f5;
    border: 1px;
    border-radius: 12px;
}

#input-password-login {
    position: absolute;
    width: 242px;
    height: 53px;
    left: 66px;
    top: 202px;

    background: #f5f5f5;
    border: 1px;
    border-radius: 12px;
}

#submit-login {
    position: absolute;
    width: 242px;
    height: 53px;
    left: 66px;
    top: 279px;

    /* Accent 3 */

    background: #e75b5b;
    border: 1px;
    border-radius: 14px;

    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    /* display: flex; */
    align-items: center;
    text-align: center;

    color: #f5f5f5;
}

/* Case Index Page */

#info-sympHeader {
    position: absolute;
    width: 772px;
    height: 36px;
    left: 24px;
    top: 72px;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;
}

#cases-index-container {
    padding-top: 60px;
}

#info-caseHis {
    position: absolute;
    width: 688px;
    height: 70px;
    left: 66px;
    padding-top: 24px;

    background: #ffffff;
    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 12px;
}

#info-header {
    /* info-header */
    position: absolute;
    width: 638.09px;
    height: 21.33px;
    top: 12px;
    left: 24px;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;

    /* Accent 3 */

    color: #e75b5b;
}

#info-date {
    position: absolute;
    width: 637.2px;
    height: 20px;
    left: 24px;
    top: 38px;

    /* Body */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.25px;
    line-height: 19.06px;
    letter-spacing: -0.02em;

    color: #000000;
}

/* Current Case */

#patient-profile {
    position: absolute;
    width: 688px;
    height: 217px;
    left: 66px;
    top: 132px;

    /* Sub BG */

    background: #708a99;
    border-radius: 12px;
}

#img-patient {
    position: absolute;
    width: 175px;
    height: 175px;
    left: 48px;
    top: 21px;
}

#info-chiefComplain {
    position: absolute;
    width: 417px;
    height: 82px;
    left: 247px;
    top: 31px;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;

    /* base */

    color: #f5f5f5;
}

#info-patientInfo {
    position: absolute;
    width: 417px;
    height: 92px;
    left: 247px;
    top: 113px;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;

    color: #000000;
}

#result-ML {
    position: absolute;
    width: 199px;
    height: 199px;
    /* left: 66px; */
    top: 433px;

    /* bg-symp */

    position: absolute;
    width: 199px;
    height: 199px;
    left: 66px;
    top: 433px;

    /* Accent 3 */

    background: #e75b5b;
    /* btn-dropshadow */

    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 15px;
}

#info-symp {
    position: absolute;
    width: 160.17px;
    height: 130.52px;
    left: 19.41px;
    top: 30.62px;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* base */

    color: #f5f5f5;
}

#med-history-container {
    position: absolute;
    width: 688px;
    height: 327px;
    left: 66px;
    top: 656px;

    /* Sub BG */

    background: #708a99;
    border-radius: 12px;
}

#past-medical-history {
    position: absolute;
    width: 528px;
    height: 36px;
    left: 80px;
    top: 24px;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* Dark Font */

    color: #000000;
}

#history-desc-bg {
    position: absolute;
    width: 640px;
    height: 219px;
    left: 24px;
    top: 72px;
    /* base */

    background: #f5f5f5;
    border-radius: 13px;
}

#info-pastPatientInfo {
    position: absolute;
    width: 572.02px;
    height: 175.49px;
    left: 34.82px;
    top: 19.91px;

    /* Body */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.25px;
    line-height: 19.06px;
    letter-spacing: -0.02em;

    color: #000000;
}

#btn-locate {
    /* btn-locate */
    position: absolute;
    width: 241px;
    height: 51px;
    left: 422px;
    top: 1007px;

    /* Accent 2 */
    background: #42b1b3;

    /* btn-dropshadow */
    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 14px;
    border: 1px;

    /* Button Text */

    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    /* base */

    color: #f5f5f5;
}

#btn-diagnose {
    /* btn-locate */
    position: absolute;
    width: 241px;
    height: 51px;
    left: 157px;
    top: 1007px;

    /* Accent 2 */
    background: #42b1b3;

    /* btn-dropshadow */
    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 14px;
    border: 1px;

    /* Button Text */

    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    /* base */

    color: #f5f5f5;
}

#diagnosis-container-case {
    position: absolute;
    width: 688px;
    height: 111px;
    left: 66px;
    padding-top: 24px;
    /* margin-bottom: 24px; */

    background: #ffffff;
    /* btn-dropshadow */

    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 12px;
}

#predicted-header {
    position: absolute;
    width: 531px;
    height: 32px;
    left: 24px;
    top: 20px;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;

    /* Accent 3 */

    color: #e75b5b;
}

#predicted-symptoms {
    position: absolute;
    width: 637px;
    height: 37px;
    left: 24px;
    top: 58px;

    /* Body */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.25px;
    line-height: 19.06px;
    letter-spacing: -0.02em;

    color: #000000;
}

#hf-revision {
    position: absolute;
    width: 96px;
    height: 28px;
    left: 568px;
    top: 24px;

    /* Button Text */

    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    text-align: right;

    color: #000000;
}

#jit-container-case {
    position: absolute;
    width: 640px;
    height: 178px;
    left: 90px;
    /* top: 132px; */

    background: #ffffff;
    /* btn-dropshadow */

    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
    border-radius: 12px;
}

#jit-header {
    position: absolute;
    width: 149px;
    height: 32px;
    left: 24px;
    top: 20px;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;

    /* Accent 3 */

    color: #e75b5b;
}

#jit-symptoms {
    position: absolute;
    width: 592px;
    height: 105px;
    left: 24px;
    top: 64px;

    /* Body */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.25px;
    line-height: 19.06px;
    letter-spacing: -0.02em;

    color: #000000;
}

#logo-png {
    width: 108.15px;
    height: 43px;
}

#geolocation-overview {
    position: absolute;
    width: 772px;
    height: 479px;
    left: 24px;
    top: 132px;

    background: #d9d9d9;
    border-radius: 12px;
}

#geolocation-zoomed {
    position: absolute;
    width: 772px;
    height: 479px;
    left: 24px;
    top: 633px;

    background: #d9d9d9;
    border-radius: 12px;
}

#geolocation-floorplan {
    position: absolute;
    width: 772px;
    height: 479px;
    left: 24px;
    top: 1136px;

    background: #d9d9d9;
    border-radius: 12px;
}

#WIP {
    text-align: center;

    /* Header 1 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;

    /* base */

    color: #f5f5f5;
}

#WIP2 {
    text-align: center;

    /* Header 2 */

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.98px;
    letter-spacing: -0.02em;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Hamburger Menu */
body {
    margin: 0;
    padding: 0;
    /* background: #efefef; */
    color: #333333;
    font-family: "Work Sans";
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: #2ecc71;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-bottom: 20vh;
    padding-top: 125px;
    right: -100px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
}

#spacer {
    margin-bottom: 75px;
    background-color: #446474;
}

#topbar {
    position: absolute;
    width: 820px;
    height: 50px;
    left: 0px;
    top: 0px;
}
