body {
    overflow-x: hidden;
}


#img-user-login {
    position: absolute;
    height: 244.5px;
    width: 244.5px;
    left: 294px;
    top: 255px;
}

#input-username-login {
    /* input-username */
    position: absolute;
    width: 244px;
    height: 53px;
    left: 294.25px;
    top: 553.25px;
}

#input-password-login {
    /* input-password */
    position: absolute;
    width: 244px;
    height: 53px;
    left: 294.25px;
    top: 622.25px;
}

#submit-login {
    /* btn-signin */
    position: absolute;
    height: 51px;
    width: 171px;
    left: 331.25px;
    top: 706.25px;
    border-radius: 14px;
}

#predicted-container-case {
    /* container-case */
    position: absolute;
    width: 654px;
    height: 132px;
    left: 92px;
    top: 108px;
    margin-bottom: 24px;
    border:1px solid black;
    border-radius: 4px;
    box-shadow: 3px 7px;
    
}

#predicted-header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    color: brown;
}

#predicted-symptoms{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.13px;
}

#predicted-cause{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.13px;

}

